{% extends "base.html" %}

{% block content %}

    <h1>Your Reservations:</h1>
        <table class="table">
        {% for reservation in reservations %}
            {% if reservation.user == request.user %}
                <tr>
                    <th>Name</th>
                    <th>Date</th>
                    <th>Time</th>
                    <th>Number of Guests</th>
                    <th></th>
                    <th></th>
                </tr>
                <tr>
                    <td>{{ reservation.name }}</td>
                    <td>{{ reservation.date }}</td>
                    <td>{{ reservation.time }}</td>
                    <td>{{ reservation.guest_number }}</td>
                    <td>
                        <a href="/edit/{{ reservation.id }}">
                                <button>Amend Reservation</button>
                        </a>
                    </td>
                    <td>
                        <a href="/delete/{{ reservation.id }}">
                            <button>Cancel Reservation</button>
                        </a>
                    </td>
                </tr>
            {% endif %}
            {% empty %}
            <tr><td>You have no reservations!</td></tr>
        {% endfor %}
        </table>
        <a href="/create">Book a Reservation</a>

{%endblock%}