<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Reservation Booking:</h1>
    <table>
    {% for reservation in reservations %}
        <tr>
            <td>{{ reservation.name }}</td>
            <td>{{ reservation.date}}</td>
            <td>{{ reservation.time}}</td>
            <td>{{ reservation.guest_number}}</td>
        </tr>
    {% endfor %}
    </table>
</body>
</html>