@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

/* general style */ 

* {
    font-family: Raleway, sans-serif;
    letter-spacing: 1.5px;
}

/* button styling */

button:hover {
    background-color: black;
    color: white;
}

/* menu styling */
#menu-section {
    height: 1000px;
    width: 100%;
}

#menu {
    max-width: 100%;
    height: auto;
    text-align: center;
}

/* welcome image and text styling */

#image-section {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#welcome-image {
    height: auto;
    max-width: 100%;
    text-align: center;
}

/* footer styling */

footer {
    height: 100%;
}

.social-media {
    text-align: center;
}

.social-media > li {
    display: inline;
}

.social-media i {
    color: white;
    font-size: 200%;
    margin: 1%;
    padding: 5%;
}