{% extends "base.html" %}
{% block nav_item_reservation %}active{% endblock nav_item_reservation %}

{% block content %}

    <h1 class="text-center">Your Reservations:</h1>
        <div style="overflow-x:auto;">
            <table class="table">
                <!-- Below code parses reservation object and if user in reservation object matches current user then their 
                reservations will appear -->
            {% for reservation in reservations %}
                {% if reservation.user == request.user %}
                    <tr>
                        <th>Name:</th>
                        <th>Date:</th>
                        <th>Time:</th>
                        <th>Number of Guests:</th>
                        <th></th>
                        <th></th>
                    </tr>
                    <tr>
                        <td>{{ reservation.name }}</td>
                        <td>{{ reservation.date }}</td>
                        <td>{{ reservation.time }}</td>
                        <td>{{ reservation.guest_number }}</td>
                        <!-- Buttons with links to edit/delete reservations -->
                        <td>
                            <a href="/edit/{{ reservation.id }}">
                                    <button>Amend Reservation</button>
                            </a>
                        </td>
                        <td>
                            <a href="/delete/{{ reservation.id }}">
                                <button>Cancel Reservation</button>
                            </a>
                        </td>
                    </tr>
                {% endif %}
                {% empty %}
                <!-- If no reservations match criteria then below message will appear instead -->
                <tr><td>You have no reservations!</td></tr>
            {% endfor %}
            </table>
        </div>
        <!-- Button to bring user to create reservation page -->
        <div class="text-center"><a href="/create"><button>Book a Reservation</button></a></div>

{%endblock%}