{% extends "base.html" %}
{% block nav_item_home %}active{% endblock nav_item_home %}

{% block content %}

<section id="image-section">
    <div id="welcome-image">
        <img src="{% static 'images/bar.jpg' %}" alt="Restaurant_image">
    </div>
</section>

<h1 class="text-center">Reviews:</h1>
    <table class="table ">
        {% for review in reviews %}
            <tr>
                <th>Name:</th>
                <th>Date:</th>
                <th>Review:</th>
            </tr>
            <tr>
                <td>{{ review.name }}</td>
                <td>{{ review.date }}</td>
                <td>{{ review.review }}</td>
            </tr>
            {% empty %}
            <tr><td>There are no reviews!</td></tr>
        {% endfor %}
    </table>

{%endblock%}