{% extends "base.html" %}
{% block nav_item_home %}active{% endblock nav_item_home %}

{% block content %}
{% load static %}

<div>
    <section id="image-section">
        <div id="welcome-image">
            <!-- main display image -->
            <img src="{% static 'images/bar.jpg' %}" alt="Restaurant">
        </div>
    </section>
</div>


<h1 class="text-center">Reviews:</h1>
<!-- Parses review object and displays accordingly -->
    {% for review in reviews %}
        <div class="text-center">
            <p><b>Name:</b> {{ review.name }}</p>
            <p><b>Date:</b> {{ review.date }}</p>
            <p><b>Review:</b> {{ review.review }}</p>
        </div>
    {% empty %}
    <!-- In event of no reviews the below is displayed -->
        <p>There are no reviews!</p>
    {% endfor %}

{%endblock%}